@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

p, a, li {
    font-family: 'Raleway', sans-serif;
}

ul {
    list-style: none;
  }
  
  ul li::before {
    content: "\2022";
    color: #df91ad;
    display: inline-block;
    width: 1em;
    margin-left: 1em;
  }